@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block ">

                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="registernik"
                                           placeholder="NIK">
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="registerfirstName"
                                               placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="registerlastName"
                                               placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="registerphone"
                                           placeholder="Phone">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="registeremail"
                                           placeholder="Email Address">
                                </div>
                                <div class="form-group ">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="registerpassword" placeholder="Password">
                                    </div>
                                    @*  <div class="col-sm-6">
                <input type="password" class="form-control form-control-user"
                       id="exampleRepeatPassword" placeholder="Repeat Password">
            </div>*@
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="registersalary"
                                           placeholder="Salary">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-user" id="registergpa"
                                           placeholder="GPA">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="registerdegree"
                                           placeholder="Degree">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control form-control-user" id="registeruniversityId"
                                           placeholder="University Id">
                                </div>

                                @*    <a href="#" class="btn btn-primary btn-user btn-block">
            Register Account
        </a>*@
                                <button type="button" class="btn btn-primary add-btn" onclick="Register()">Register</button>
                                <hr>
                                @*<a href="index.html" class="btn btn-google btn-user btn-block">
            <i class=""></i> Register with Google
        </a>*@
                                @*<a href="index.html" class="btn btn-facebook btn-user btn-block">
            <i class=""></i> Register with Facebook
        </a>*@
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <script>
        function Register() {
            var obj = new Object(); //sesuaikan sendiri nama objectnya dan beserta isinya
            //ini ngambil value dari tiap inputan di form nya
            obj.NIK = $("#registernik").val();
            obj.FirstName = $("#registerfirstName").val();
            obj.LastName = $("#registerlastName").val();
            obj.Phone = $("#registerphone").val();
            obj.Email = $("#registeremail").val();
            obj.Password = $("#registerpassword").val();
            obj.Salary = $("#registersalary").val();
            obj.GPA = $("#registergpa").val();
            obj.Degree = $("#registerdegree").val();
            obj.UniversityId = $("#registeruniversityId").val();
            //isi dari object kalian buat sesuai dengan bentuk object yang akan di post
            console.log(obj);
            $.ajax({
           @* headers: {
                'Accept': 'application/json',
                    'Content-Type': 'application/json'
            },*@
            type: "POST",
                url: "/employees/postregister",
                    dataType: 'json',
            @* data: JSON.stringify(obj) *@
            data: obj
        }).done((result) => {
            console.log(result);
            if (result == 200) {
                console.log("Berhasil Register");
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil register',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
            else if (result == 400) {
                console.log(result)
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Gagal Register'
                })
            }
          @*  table.ajax.reload();*@
        }).fail((error) => {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Gagal Disimpan'
            })
        })
        }
    </script>
</body>

</html>