@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-3 ">
            <div class="card h-100">
                <div class="card-body">
                    <div id="chart1">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3">
            <div class="card h-100">
                <div class="card-body">
                    <div id="chart2">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <div id="chart3">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card h-100">
                <div class="card-body">
                    <div id="chart4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script> var options1 = {
            series: [44, 55, 41, 17, 15],
            chart: {
                type: 'donut',
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart1 = new ApexCharts(document.querySelector("#chart1"), options1);
        chart1.render();


        var options2 = {
            series: [{
                name: "Desktops",
                data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            title: {
                text: 'Product Trends by Month',
                align: 'left'
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
            }
        };

        var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
        chart2.render();



        $.ajax({
            url: "https://localhost:44356/API/Employees"
        }).done((result) => {
            console.log(result)

            var male=0, female=0;

            $.each(result, function (key, val) {
                if (val.gender == 0) {
                    male++
                }
                else if (val.gender == 1) {
                    female++
                }
            })
            var options3 = {
                series: [male,female],
                labels: ["Male","Female"],
                chart: {
                    type: 'donut',
                    toolbar: {
                        show: true,
                        offsetX: 0,
                        offsetY: 0,
                        tools: {
                            download: true,
                            selection: true,
                            zoom: true,
                            zoomin: true,
                            zoomout: true,
                            pan: true,
                            reset: true,
                            customIcons: []
                        },
                        export: {
                            csv: {
                                filename: undefined,
                                columnDelimiter: ',',
                                headerCategory: 'category',
                                headerValue: 'value',
                                dateFormatter(timestamp) {
                                    return new Date(timestamp).toDateString()
                                }
                            },
                            svg: {
                                filename: undefined,
                            },
                            png: {
                                filename: undefined,
                            }
                        },
                        autoSelected: 'zoom'
                    },
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            };

            var chart3 = new ApexCharts(document.querySelector("#chart3"), options3);
            chart3.render();
        }).fail((error) => {
            console.log(error);
        });



        $.ajax({
            url: "https://localhost:44356/API/Universities/CountUniversity"
        }).done((result) => {
            console.log(result)
            @*    var options2 = {
                series: result.result.value,
                labels: result.result.key,
                chart: {
                    type: 'donut',
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            };*@
         

            var options4 = {
                series: [{

                    data: result.result.value,
                }],
                chart: {
                    height: 350,
                    type: 'bar',
                    events: {
                        click: function (chart, w, e) {
                            // console.log(chart, w, e)
                        }
                    }
                },

                plotOptions: {
                    bar: {
                        columnWidth: '45%',
                        distributed: true,
                    }
                },
                dataLabels: {
                    enabled: false
                },
                legend: {
                    show: false
                },
                xaxis: {
                    categories:
                        result.result.key
                    ,
                    labels: {
                        style: {

                            fontSize: '12px'
                        }
                    }
                }
            };

            var chart4 = new ApexCharts(document.querySelector("#chart4"), options4);
            chart4.render();
        }).fail((error) => {
            console.log(error);
        });


       
    </script>
}